<div class="welcomeBigButtons">
    <a class="wb btnWelcome" href="/welcome">
        <i class="fa-solid fa-house"></i>
        <span>欢迎首页</span>
    </a>
    <a class="wb btnCharacters" href="/public-characters" id="publicCharactersLink">
        <i class="fa-solid fa-id-card"></i>
        <span>角色卡分享</span>
    </a>
    <a class="wb btnForum" href="/forum" id="forumLink">
        <i class="fa-solid fa-comments"></i>
        <span>交流平台</span>
    </a>
</div>
<div class="flex-container">
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
        <i class="fa-solid fa-plug"></i>
        <span data-i18n="API Connections">API Connections</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
        <i class="fa-solid fa-address-card"></i>
        <span data-i18n="Character Management">Character Management</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="extensions-settings-button">
        <i class="fa-solid fa-cubes"></i>
        <span data-i18n="Extensions">Extensions</span>
    </button>
</div>
